[mysqld]
# 服务id
server-id=1
log-bin=mysql-bin
binlog_format=MIXED
# 表名不采用严格区分大小写
lower_case_table_names=1
skip-name-resolve
# 端口
port=3306
# 默认存储引擎
default-storage-engine=INNODB
# 默认编码
character-set-server=utf8
init-connect='SET NAMES utf8'
collation-server=utf8_general_ci
# 解决分组查询时的错误
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
# MySQL在完成某些join（连接）需求的时候，为了减少参与join的“被驱动表”的读取次数以提高性能，需要使用到join buffer来协助完成join操作当join buffer 太小，
# MySQL不会将该buffer存入磁盘文件而是先将join buffer中的结果与需求join的表进行操作，然后清空join buffer中的数据，继续将剩余的结果集写入次buffer中
join_buffer_size = 512M
tmp_table_size = 256M
#tmpdir = /data/mysql/tmp
# 该值设置过小将导致单个记录超过限制后写入数据库失败，且后续记录写入也将失败
max_allowed_packet = 64M
# 数据库隔离级别
transaction_isolation = READ-COMMITTED
# 该值设置过小将导致单个记录超过限制后写入数据库失败，且后续记录写入也将失败
max_allowed_packet = 64M
# mysql在关闭一个交互的连接之前所要等待的秒数
interactive_timeout = 1200
# mysql在关闭一个非交互的连接之前所要等待的秒数
wait_timeout = 600
# MySQL读入缓冲区的大小
read_buffer_size = 16M
# MySQL的随机读缓冲区大小
read_rnd_buffer_size = 8M
# MySQL的顺序读缓冲区大小
sort_buffer_size = 8M

########log settings########
#log_error = /data/mysql/logs/error.log
# 开启慢查询日志
slow_query_log = 1
# 超出次设定值的SQL即被记录到慢查询日志
long_query_time = 6
#slow_query_log_file = /data/mysql/logs/slow.log
# 表示记录下没有使用索引的查询
log_queries_not_using_indexes = 1
# 记录管理语句
log_slow_admin_statements = 1
# 设置每分钟增长的没有使用索引查询的日志数量
log_throttle_queries_not_using_indexes = 10
expire_logs_days = 90
min_examined_row_limit = 100
########innodb settings########
# 数据缓冲区buffer pool大小，建议使用物理内存的 75%
innodb_buffer_pool_size = 2G
# 当buffer_pool的值较大的时候为1，较小的设置为8
innodb_buffer_pool_instances = 8
# 运行时load缓冲池，快速预热缓冲池，将buffer pool的内容（文件页的索引）dump到文件中，然后快速load到buffer pool中。避免了数据库的预热过程，提高了应用访问的性能
innodb_buffer_pool_load_at_startup = 1
# 在innodb中处理用户查询后，其结果在内存空间的缓冲池已经发生变化，但是还未记录到磁盘。这种页面称为脏页，将脏页记录到磁盘的过程称为刷脏
innodb_lru_scan_depth = 2000
innodb_io_capacity = 4000
innodb_io_capacity_max = 8000
# 事务等待获取资源等待的最长时间，超过这个时间还未分配到资源则会返回应用失败，默认50s
innodb_lock_wait_timeout = 60
# 改为ON时，允许单列索引最大达到3072。否则最大为767
innodb_large_prefix = 1
innodb_thread_concurrency = 8
# 开启后会将所有的死锁记录到error_log中
innodb_print_all_deadlocks = 1
innodb_sort_buffer_size = 16M 


[client]
# 默认编码
default-character-set=utf8

[mysql]
# 默认编码
default-character-set=utf8
